@font-face {
  font-family: myfont;
  src: url('./test/BRUSHSCI.TTF');
}
@font-face {
  font-family: myfont1;
  src: url('./test/SNAP.TTF');
}
@font-face {
  font-family: myfont2;
  src: url('./test/webdings.ttf');
}
@font-face {
  font-family: myfont3;
  src: url('./test/wingding.ttf');
}
@font-face {
  font-family: myfont4;
  src: url('./test/WINGDNG2.TTF');
}
@font-face {
  font-family: myfont5;
  src: url('./test/WINGDNG3.TTF');
}

.logo-font {
  font-family: 'Press Start 2P', cursive;
  /* color: rgb(158, 231, 231); */
  background: -webkit-linear-gradient(rgb(0, 158, 161), rgb(60, 143, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-image: linear-gradient(rgb(158, 231, 231), rgb(116, 171, 239)); */
}
.chart-w-h {
  width: 700px;
  height: 500px;
}

.basis-1-2 {
  flex-basis: 48% !important;
}
.colorChange {
  color: brown;
  font-family: myfont;
  font-weight: 600;
}
